<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers>
    <jenkins.uvision.UVisionPublisher plugin="uvision@1.0-SNAPSHOT">
      <coverageReportDir>report</coverageReportDir>
      <coverageReportFileName>testing.xml</coverageReportFileName>
      <healthyTarget>
        <coverage>80</coverage>
      </healthyTarget>
      <unhealthyTarget>
        <coverage>40</coverage>
      </unhealthyTarget>
      <failingTarget>
        <coverage>20</coverage>
      </failingTarget>
    </jenkins.uvision.UVisionPublisher>
  </publishers>
  <buildWrappers/>
</project>